In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from scipy.spatial import distance

ImportError:

IMPORTANT: PLEASE READ THIS FOR ADVICE ON HOW TO SOLVE THIS ISSUE!

Importing the numpy C-extensions failed. This error can happen for
many reasons, often due to issues with your setup or how NumPy was
installed.

We have compiled some common reasons and troubleshooting tips at:

    https://numpy.org/devdocs/user/troubleshooting-importerror.html

Please note and check the following:

  * The Python version is: Python3.6 from "/Users/Kaija/opt/anaconda3/envs/pythonProject/bin/python"
  * The NumPy version is: "1.19.2"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: dlopen(/Users/Kaija/opt/anaconda3/envs/pythonProject/lib/python3.6/site-packages/numpy/core/_multiarray_umath.cpython-36m-darwin.so, 2): Library not loaded: @rpath/libopenblas.dylib
  Referenced from: /Users/Kaija/opt/anaconda3/envs/pythonProject/lib/python3.6/site-packages/numpy/core/_multiarray_umath.cpython-36m-darwin.so
  Reason: image not found

In [4]:
df = pd.read_csv('data/embedded_ladec.csv')

In [3]:
embeddings_dict = {}

with open("data/glove.6B.50d.txt", 'r') as f:
    for line in f:
        values = line.split()
        word = values[0]
        vector = np.asarray(values[1:], "float32")
        embeddings_dict[word] = vector

In [5]:
df

,Unnamed: 0,id_master,c1,c2,stim,correctParse,ratingcmp,ratingC1,ratingC2
0,0,3237,gad,about,gadabout,yes,24.250000,36.541668,44.541668
1,1,4592,knock,about,knockabout,yes,41.461540,52.769230,38.961540
2,2,8231,turn,about,turnabout,yes,72.551727,82.413795,54.862068
3,4,8331,walk,about,walkabout,yes,68.281250,87.906250,56.875000
4,5,6416,run,about,runabout,yes,69.689651,79.035713,61.392857
...,...,...,...,...,...,...,...,...,...
5897,8951,4515,junk,yards,junkyards,yes,92.107140,91.214287,83.714287
5898,8952,6812,ship,yards,shipyards,yes,75.285713,84.750000,67.928574
5899,8953,2667,farm,yards,farmyards,yes,91.047623,90.380951,82.333336
5900,8954,1007,brick,yards,brickyards,yes,81.333336,77.476189,81.476189
5901,8955,8892,zig,zag,zigzag,yes,54.433334,48.733334,47.933334

In [6]:
all_embeddings = pd.DataFrame( df['stim'] )

In [7]:
all_embeddings

            stim
0       gadabout
1     knockabout
2      turnabout
3      walkabout
4       runabout
...          ...
5897   junkyards
5898   shipyards
5899   farmyards
5900  brickyards
5901      zigzag

[5902 rows x 1 columns]

In [12]:
df.apply( lambda row: embeddings_dict[ row['c1'] ], axis=1 )

0       [-0.28186, 0.76122, 0.31124, -0.056947, -0.161...
1       [-0.12375, -0.75023, 0.60649, -0.20309, 0.1540...
2       [0.45343, -0.22031, 0.53704, -0.48735, 0.34246...
3       [0.41281, 0.9111, -0.078414, -0.46515, 0.61895...
4       [-0.39488, -0.16448, 0.5962, 0.65815, -0.16846...
                              ...
5897    [0.3149, 0.14974, 1.1282, -0.90558, 0.13206, -...
5898    [1.5213, 0.10522, 0.38162, -0.50801, 0.032423,...
5899    [0.025942, 0.0086659, -0.46658, -0.33945, -0.1...
5900    [-0.055554, 0.82421, -0.025621, -0.77371, 0.66...
5901    [-0.27995, -0.76678, -0.33642, -0.87815, -1.54...
Length: 5902, dtype: object

In [13]:
all_embeddings['c1_embedding'] = Out[12]

In [14]:
all_embeddings['c2_embedding'] = df.apply( lambda row: embeddings_dict[ row['c2'] ], axis=1 )

In [16]:
all_embeddings['cmp_embedding'] = df.apply( lambda row: embeddings_dict[ row['stim'] ], axis=1 )

In [17]:
all_embeddings

,stim,c1_embedding,c2_embedding,cmp_embedding
0,gadabout,"[-0.28186, 0.76122, 0.31124, -0.056947, -0.161...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[-0.95223, 0.22216, -0.31866, -0.80328, -0.349..."
1,knockabout,"[-0.12375, -0.75023, 0.60649, -0.20309, 0.1540...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[-0.53877, -0.3707, -1.3318, -0.32446, -0.4598..."
2,turnabout,"[0.45343, -0.22031, 0.53704, -0.48735, 0.34246...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[0.24069, -0.3018, -1.1675, 0.055764, 0.006460..."
3,walkabout,"[0.41281, 0.9111, -0.078414, -0.46515, 0.61895...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[-0.18218, -0.13491, -1.2826, -0.77825, -0.849..."
4,runabout,"[-0.39488, -0.16448, 0.5962, 0.65815, -0.16846...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[0.33506, -0.64988, 0.44627, -0.39203, -0.9616..."
...,...,...,...,...
5897,junkyards,"[0.3149, 0.14974, 1.1282, -0.90558, 0.13206, -...","[-1.1475, -0.01226, 2.0037, -0.51959, 0.3916, ...","[-0.20939, -0.61757, 0.28687, -0.14008, -0.710..."
5898,shipyards,"[1.5213, 0.10522, 0.38162, -0.50801, 0.032423,...","[-1.1475, -0.01226, 2.0037, -0.51959, 0.3916, ...","[0.67891, -0.16578, -0.12632, -0.10268, -0.962..."
5899,farmyards,"[0.025942, 0.0086659, -0.46658, -0.33945, -0.1...","[-1.1475, -0.01226, 2.0037, -0.51959, 0.3916, ...","[0.23381, -0.35211, 0.22571, -0.5987, -0.25451..."
5900,brickyards,"[-0.055554, 0.82421, -0.025621, -0.77371, 0.66...","[-1.1475, -0.01226, 2.0037, -0.51959, 0.3916, ...","[-0.13562, -1.2678, 0.10599, 0.32873, -0.7487,..."
5901,zigzag,"[-0.27995, -0.76678, -0.33642, -0.87815, -1.54...","[-0.010665, -0.57018, -0.69413, -0.70944, -1.5...","[0.17493, -0.28962, -0.81525, -0.28918, -0.628..."

In [18]:
#embedded_ladec.to_csv('data/embedded_ladec.csv')
all_embeddings.to_csv('data/all_embeddings_forML.csv')

In [19]:
os.version

NameError: name 'os' is not defined

In [20]:
import os

In [21]:
%%python3

UsageError: %%python3 is a cell magic, but the cell body is empty.

In [22]:
from platform import python_version

In [24]:
python_version()

'3.8.8'

In [25]:
import tflearn

ModuleNotFoundError: No module named 'tensorflow'

In [26]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'