In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from scipy.spatial import distance

In [4]:
ladec = pd.read_csv('data/ladec.csv')

In [5]:
embeddings_dict = {}

with open("data/glove.6B.50d.txt", 'r') as f:
    for line in f:
        values = line.split()
        word = values[0]
        vector = np.asarray(values[1:], "float32")
        embeddings_dict[word] = vector

In [10]:
ladec.apply( lambda row: ((row['c1'] in embeddings_dict) and (row['c2'] in  embeddings_dict) and (row['stim'] in embeddings_dict) ), axis='columns' )

0        True
1        True
2        True
3       False
4        True
        ...
8951     True
8952     True
8953     True
8954     True
8955     True
Length: 8956, dtype: bool

In [11]:
is_embedded = Out[10]

In [12]:
ladec['is_embedded'] = is_embedded

In [24]:
# Only keep the row if row['is_embedded'] AND row['correctParse']
# Otherwise drop it!

ladec.apply( lambda row: ( (row['correctParse']=='yes') and row['is_embedded'] ), axis='columns' )

0        True
1        True
2        True
3       False
4        True
        ...
8951     True
8952     True
8953     True
8954     True
8955     True
Length: 8956, dtype: bool

In [27]:
keep_row = Out[24]

ladec['keep_row'] = keep_row

In [29]:
embedded_ladec = ladec[ ladec['keep_row'] ]

In [30]:
all_embeddings = pd.DataFrame( embedded_ladec['stim'] )

In [31]:
all_embeddings

            stim
0       gadabout
1     knockabout
2      turnabout
4      walkabout
5       runabout
...          ...
8951   junkyards
8952   shipyards
8953   farmyards
8954  brickyards
8955      zigzag

[5902 rows x 1 columns]

In [32]:
embedded_ladec.apply( lambda row: embeddings_dict[ row['c1'] ], axis=1 )

0       [-0.28186, 0.76122, 0.31124, -0.056947, -0.161...
1       [-0.12375, -0.75023, 0.60649, -0.20309, 0.1540...
2       [0.45343, -0.22031, 0.53704, -0.48735, 0.34246...
4       [0.41281, 0.9111, -0.078414, -0.46515, 0.61895...
5       [-0.39488, -0.16448, 0.5962, 0.65815, -0.16846...
                              ...
8951    [0.3149, 0.14974, 1.1282, -0.90558, 0.13206, -...
8952    [1.5213, 0.10522, 0.38162, -0.50801, 0.032423,...
8953    [0.025942, 0.0086659, -0.46658, -0.33945, -0.1...
8954    [-0.055554, 0.82421, -0.025621, -0.77371, 0.66...
8955    [-0.27995, -0.76678, -0.33642, -0.87815, -1.54...
Length: 5902, dtype: object

In [34]:
all_embeddings['c1_embedding'] = Out[32]

In [35]:
all_embeddings['c2_embedding'] = embedded_ladec.apply( lambda row: embeddings_dict[ row['c2'] ], axis=1 )

In [36]:
all_embeddings['cmp_embedding'] = embedded_ladec.apply( lambda row: embeddings_dict[ row['stim'] ], axis=1 )

In [37]:
all_embeddings

,stim,c1_embedding,c2_embedding,cmp_embedding
0,gadabout,"[-0.28186, 0.76122, 0.31124, -0.056947, -0.161...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[-0.95223, 0.22216, -0.31866, -0.80328, -0.349..."
1,knockabout,"[-0.12375, -0.75023, 0.60649, -0.20309, 0.1540...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[-0.53877, -0.3707, -1.3318, -0.32446, -0.4598..."
2,turnabout,"[0.45343, -0.22031, 0.53704, -0.48735, 0.34246...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[0.24069, -0.3018, -1.1675, 0.055764, 0.006460..."
4,walkabout,"[0.41281, 0.9111, -0.078414, -0.46515, 0.61895...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[-0.18218, -0.13491, -1.2826, -0.77825, -0.849..."
5,runabout,"[-0.39488, -0.16448, 0.5962, 0.65815, -0.16846...","[0.89466, 0.36604, 0.37588, -0.41818, 0.58462,...","[0.33506, -0.64988, 0.44627, -0.39203, -0.9616..."
...,...,...,...,...
8951,junkyards,"[0.3149, 0.14974, 1.1282, -0.90558, 0.13206, -...","[-1.1475, -0.01226, 2.0037, -0.51959, 0.3916, ...","[-0.20939, -0.61757, 0.28687, -0.14008, -0.710..."
8952,shipyards,"[1.5213, 0.10522, 0.38162, -0.50801, 0.032423,...","[-1.1475, -0.01226, 2.0037, -0.51959, 0.3916, ...","[0.67891, -0.16578, -0.12632, -0.10268, -0.962..."
8953,farmyards,"[0.025942, 0.0086659, -0.46658, -0.33945, -0.1...","[-1.1475, -0.01226, 2.0037, -0.51959, 0.3916, ...","[0.23381, -0.35211, 0.22571, -0.5987, -0.25451..."
8954,brickyards,"[-0.055554, 0.82421, -0.025621, -0.77371, 0.66...","[-1.1475, -0.01226, 2.0037, -0.51959, 0.3916, ...","[-0.13562, -1.2678, 0.10599, 0.32873, -0.7487,..."
8955,zigzag,"[-0.27995, -0.76678, -0.33642, -0.87815, -1.54...","[-0.010665, -0.57018, -0.69413, -0.70944, -1.5...","[0.17493, -0.28962, -0.81525, -0.28918, -0.628..."

In [38]:
#embedded_ladec.to_csv('data/embedded_ladec.csv')
all_embeddings.to_csv('data/all_embeddings_forML.csv')

In [39]:
all_embeddings.loc[0,'c1_embedding']

array([-0.28186  ,  0.76122  ,  0.31124  , -0.056947 , -0.16125  ,
       -0.84541  ,  0.21271  , -1.1618   ,  0.66181  ,  1.2302   ,
        0.78864  ,  0.83112  , -0.70775  ,  0.22583  , -0.7578   ,
        1.221    ,  0.69907  , -0.81823  ,  0.19546  ,  1.8109   ,
       -0.71717  ,  0.87639  ,  0.68515  , -0.10325  , -0.12523  ,
        0.1229   ,  0.056091 , -0.18191  ,  0.036424 ,  0.43651  ,
       -0.5549   ,  0.35513  ,  0.26945  ,  0.58567  ,  0.6719   ,
       -0.52472  ,  0.59862  , -0.47292  ,  0.33516  ,  1.8675   ,
        0.079179 ,  1.2164   , -0.23826  ,  0.0051595,  0.44026  ,
       -0.63698  , -0.24248  , -0.38488  ,  0.11777  ,  0.2475   ],
      dtype=float32)

Suggested alternate format of columns = 'cmp', 'c1_00', 'c1_01' ... 'c1_49'

Flatten the embedding arrays so that each element has a column assigned to it

This would give the DataFrame 152 columns

In [44]:
c1_labels = [ 'c1_%02d' % x for x in range(50) ]
c2_labels = [ 'c2_%02d' % x for x in range(50) ]
cmp_labels = [ 'cmp_%02d' % x for x in range(50) ]

In [51]:
all_embeddings_2 = pd.DataFrame( columns = ['cmp','c1','c2', *c1_labels, *c2_labels, *cmp_labels])

In [52]:
all_embeddings_2[ ['cmp','c1','c2'] ] = embedded_ladec[ ['stim','c1','c2'] ]

In [53]:
all_embeddings_2

,cmp,c1,c2,c1_00,c1_01,c1_02,c1_03,c1_04,c1_05,c1_06,...,cmp_40,cmp_41,cmp_42,cmp_43,cmp_44,cmp_45,cmp_46,cmp_47,cmp_48,cmp_49
0,gadabout,gad,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,knockabout,knock,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turnabout,turn,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,walkabout,walk,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,runabout,run,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8951,junkyards,junk,yards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8952,shipyards,ship,yards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8953,farmyards,farm,yards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8954,brickyards,brick,yards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8955,zigzag,zig,zag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
embedded_ladec.head()

,id_master,c1,c2,stim,obs,obsc1,obsc2,stimlen,c1len,c2len,...,st_c2_mean,Zipfvalue,c1_SLlg10wf,c2_SLlg10wf,c1_BLPbncfrequency,c1_BLPbncfrequencymillion,c2_BLPbncfrequency,c2_BLPbncfrequencymillion,is_embedded,keep_row
0,3237,gad,about,gadabout,1,4,3,8,3,5,...,NaN,1.768955,1.4314,5.2677,28.0,0.28000,197116.0,1971.16,True,True
1,4592,knock,about,knockabout,1,3,4,10,5,5,...,NaN,1.592864,3.5185,5.2677,1975.0,19.75000,197116.0,1971.16,True,True
2,8231,turn,about,turnabout,1,19,7,9,4,5,...,2.813,2.333227,4.1940,5.2677,21026.0,210.25999,197116.0,1971.16,True,True
4,8331,walk,about,walkabout,1,2,5,9,4,5,...,2.733,2.246077,4.0418,5.2677,10441.0,104.41000,197116.0,1971.16,True,True
5,6416,run,about,runabout,1,3,9,8,3,5,...,3.267,1.893894,4.2523,5.2677,22125.0,221.25000,197116.0,1971.16,True,True

In [54]:
all_embeddings_2[c1_labels] = embeddings_dict[ all_embeddings_2['c1'] ]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [59]:
all_embeddings_2.head()

,cmp,c1,c2,c1_00,c1_01,c1_02,c1_03,c1_04,c1_05,c1_06,...,cmp_40,cmp_41,cmp_42,cmp_43,cmp_44,cmp_45,cmp_46,cmp_47,cmp_48,cmp_49
0,gadabout,gad,about,-0.28186,0.76122,0.31124,-0.056947,-0.16125,-0.84541,0.21271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,knockabout,knock,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turnabout,turn,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,walkabout,walk,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,runabout,run,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
all_embeddings_2.loc[0,c1_labels] = embeddings_dict['gad']

In [60]:
all_embeddings_2.index

Int64Index([   0,    1,    2,    4,    5,    6,    7,    8,    9,   10,
            ...
            8944, 8945, 8946, 8947, 8950, 8951, 8952, 8953, 8954, 8955],
           dtype='int64', length=5902)

In [64]:
for i in all_embeddings_2.index:
    all_embeddings_2.loc[i, c1_labels] = embeddings_dict[all_embeddings_2.loc[i,'c1']]
    all_embeddings_2.loc[i, c2_labels] = embeddings_dict[all_embeddings_2.loc[i,'c2']]
    all_embeddings_2.loc[i, cmp_labels] = embeddings_dict[all_embeddings_2.loc[i,'cmp']]

In [65]:
all_embeddings_2.head()

,cmp,c1,c2,c1_00,c1_01,c1_02,c1_03,c1_04,c1_05,c1_06,...,cmp_40,cmp_41,cmp_42,cmp_43,cmp_44,cmp_45,cmp_46,cmp_47,cmp_48,cmp_49
0,gadabout,gad,about,-0.28186,0.76122,0.31124,-0.056947,-0.16125,-0.84541,0.21271,...,0.072761,0.46474,-0.26208,0.24451,0.26817,-0.62835,0.007282,-0.25889,0.4026,0.076465
1,knockabout,knock,about,-0.12375,-0.75023,0.60649,-0.20309,0.15405,-0.023966,0.37052,...,0.26866,0.20105,-0.60197,0.62156,-0.58291,-0.29071,0.41405,0.33043,0.296,0.098863
2,turnabout,turn,about,0.45343,-0.22031,0.53704,-0.48735,0.34246,0.046052,-0.23291,...,-0.87763,0.23897,-0.81087,-0.3565,-0.49125,-0.059674,0.67104,1.456,0.005515,0.23835
4,walkabout,walk,about,0.41281,0.9111,-0.078414,-0.46515,0.61895,-0.44519,-0.87504,...,-0.35818,-0.05923,-0.90118,0.14399,-0.1174,-0.40766,0.74211,-0.49879,0.10832,0.19781
5,runabout,run,about,-0.39488,-0.16448,0.5962,0.65815,-0.16846,-0.15133,-1.4758,...,0.72483,-0.29675,0.15276,0.24591,-0.69316,-0.45773,0.25187,-0.72384,0.54023,-0.16045

In [66]:
all_embeddings_2.to_csv('data/all_embeddings_forML.csv')